@charset "UTF-8";
.debug_show { display: none; }

.debug_show { display: none; }

/*基础颜色库*/
/*基础按钮颜色*/
* { margin: 0; padding: 0; outline: none; }

*:not(input, textarea) { -webkit-touch-callout: inherit; -webkit-user-select: auto; }

ul, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, form { padding: 0; margin: 0; }

img { border: none; display: block; }

a { text-decoration: none; }

input, textarea, button, a { outline: none; -webkit-tap-highlight-color: transparent; }

body, html { height: 100%; margin: 0; }

body, html { height: 100%; -webkit-tap-highlight-color: transparent; }

.z-hide { display: none; }

.details-header { padding: 15px 0; }
.details-header .details-title { text-align: center; font-size: 22px; font-family: "微软雅黑"; color: #ff0000; font-weight: 800; margin: 0 15%; }
.details-header .details-con { text-align: center; text-indent: 7%; padding: 0 14px; font-size: 16px; color: #e3edf5; }
.details-header .details-time { text-align: center; color: #ff0000; font-size: 20px; font-family: 微软雅黑; }
.details-header .details-time span { font-size: 16px; color: #000000; padding: 0 5px; }

.leftShow { animation: leftShow 1s 1; -webkit-animation: leftShow 1s 1; left: -100px !important; }
@-webkit-keyframes leftShow { 0% { left: 0; }
  100% { left: -100px; } }
@-moz-keyframes leftShow { 0% { left: 0; }
  100% { left: -100px; } }
@-o-keyframes leftShow { 0% { left: 0; }
  100% { left: -100px; } }
@keyframes leftShow { 0% { left: 0; }
  100% { left: -100px; } }
.weui-cells_checkbox .weui-check:checked + .weui-icon-checked:before { color: #22536A; }
/* .weui-cells_checkbox .weui-icon-checked:before{font-size: 16px;} */

.weui-cells__title { background: url(../../imgs/details_nav_bg.png) right top no-repeat; background-size: 100%; width: 90px; height: 40px; line-height: 40px; color: #ffffff; font-family: "微软雅黑"; font-size: 0.8125rem; position: relative; left: 0; top: 0; }

.weui-btn-area { position: relative; left: 0; bottom: 0px; }

.weui-cells { background-color: inherit; }

.div_topic { padding: 10px; }

li { height: auto; position: relative; top: 0; }

li:nth-child(even) { border: #73AFD0 dashed; border-width: 0 0 1px 0; }

.div_topic h4 { font-size: 16px; color: #22536A; display: block; padding: 3px; }

.weui-btn_plain-default { color: #FFFFFF; }

.weui-btn_primary { background: -webkit-linear-gradient(#f64a35, #f64a35); }
